.header img {
  display: flex;
  margin-top: -60px;
  padding-left: 65px;
  padding-bottom: 10px;
}

.header-tittle {
  font-family: sans-serif;
  display: block;
  font-size: 30px;
  color: azure;
  line-height: 1.2;
  text-align: center;
}

.wrapper-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input {
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  border: none;
  display: block;
  width: 100%;
  height: 45px;
  background-color: transparent;
  padding: 0 5px;
  font-family: sans-serif;
}

caption{
  font-size: 25px;
  padding-bottom: 20px;
}

table {
  display: block;
  width: 50%;
  color: #adadad;
  margin-bottom: 30px;
  border-collapse: collapse;
  font-size: 16px;
  text-align: center;
}


th, td {
  border: 1px solid black;
}

thead th {
  width: 25%;
  padding: 8px;
}





.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  color: #adadad;
  font-family: sans-serif;
}

.focus-input::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #6a7dfe;
  background: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
  background: -o-linear-gradient(to left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(to left, #21d4fd, #b721ff);
  background: linear-gradient(to left, #21d4fd, #b721ff);
}

.focus-input::after {
  font-family: sans-serif;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.input:focus {
  outline: 0;
}

.input:focus + .focus-input::after {
  top: -13px;
}

.input:focus + .focus-input::before {
  width: 100%;
}

.occupiedBox + .focus-input::after {
  top: -13px;
}

.occupiedBox + .focus-input::before {
  width: 100%;
}

.container-btn {
  display: flex;
  flex-wrap: wrapper;
  justify-content: center;
  padding-bottom: 13px;
}

.btn {
  font-size: 15px;
  border: none;
  border-radius: 10px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #6a7dfe;
  background: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
  background: -o-linear-gradient(to left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(to left, #21d4fd, #b721ff);
  background: linear-gradient(to left, #21d4fd, #b721ff);
}

.btn:hover {
  cursor: pointer;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.txt1 {
  font-size: 14px;
  color: #adadad;
  padding-right: 5px;
}

.txt2 {
  font-size: 14px;
  color: #6a7dfe;
  line-height: 1.5;
  text-decoration: underline;
}

.txt2:hover {
  text-decoration: none;
}

.txt3 {
  font-size: 14px;
  color: rgba(53, 221, 213, 0.473);
  line-height: 1;
  display: block;
  margin-top: 20px;
  margin-bottom: -20px;
}
